# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Llaves y secretos (NUNCA subir)
*.jks
*.keystore
key.properties
.env
.env.*
google-services.json
GoogleService-Info.plist
